{% extends 'core/front_page.html' %}
{% load static %}
{% block front_page %}
<main>
    <div class="slider-area">
        <div class="slider-bg2 hero-overly slider-height2 d-flex align-items-end">
        <div class="container">
            <div class="row">
            <div class="col-xxl-12">
                <div class="hero-caption hero-caption2">
                <h2>開発者ブログ</h2>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <section class="blog_area section-padding">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_left_sidebar"> {% for post in page_obj %}
                <article class="blog_item">
                <div class="blog_item_img"> {% if post.image %} <img class="card-img rounded-0" src="{{ post.image.url }}" alt=""> {% else %} <img class="card-img rounded-0" src="{% static 'image/school-supplies-g12fe29706_1920.jpg' %}" alt=""> {% endif %}
                    <a href="#" class="blog_item_date">
                    <h3>{{ post.date }}</h3>
                    <p>{{ post.month }}</p>
                    </a>
                </div>
                <div class="blog_details">
                    <a class="d-inline-block" href="{% url 'blog:detail' post_id=post.id %}">
                    <h2 class="blog-head" style="color: #2d2d2d;">{{ post.title | truncatechars:25 | linebreaksbr }}</h2>
                    </a>
                    <p>{{ post.text | striptags | truncatechars:25 | linebreaksbr }}</p>
                    <ul class="blog-info-link">
                    <li><a href="#"><i class="fa fa-user"></i> {{ post.admin }}</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>{{ post.category }}</a></li>
                    </ul>
                </div>
                </article> {% endfor %} {% include 'pagination.html' %} </div>
            </div>
            <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget search_widget">
                <form method="GET"> {% csrf_token %}
                    <div class="form-group m-0">
                    <div class="input-group"> <input type="text" id="id_q" name="q" class="form-control" placeholder="キーワードを入力して下さい">
                        <div class="input-group-append d-flex"> <button class="boxed-btn2" type="submit">タイトル検索</button> </div>
                    </div>
                    </div>
                </form>
                </aside>
                <aside class="single_sidebar_widget search_widget">
                <form method="GET"> {% csrf_token %}
                    <div class="form-group m-0">
                    <div class="input-group"> <input type="text" id="id_q_tag" name="q_tag" class="form-control" placeholder="タグを選択して入力して下さい">
                        <div class="input-group-append d-flex"> <button class="boxed-btn2" type="submit">タグ検索</button> </div>
                    </div>
                    </div>
                </form>
                </aside>
                <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title" style="color: #2d2d2d;">カテゴリー</h4>
                <ul class="list cat-list"> {% for categories in category %}
                    <li>
                    <a href="#" class="d-flex">
                        <p>{{ categories }}</p>
                    </a>
                    </li> {% endfor %} </ul>
                </aside>
                <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title" style="color: #2d2d2d;">最近の投稿</h3> {% for recent in recent_post %}
                <div class="media post_item"> {% if recent.image %} <img class="recent-image" src="{{ recent.image.url }}" alt="post"> {% else %} <img class="recent-image" src="{% static 'image/school-supplies-g12fe29706_1920.jpg' %}" alt="post"> {% endif %}
                    <div class="media-body">
                    <a href="{% url 'blog:detail' post_id=recent.id %}">
                        <h3 style="color: #2d2d2d;">{{ recent.title | truncatechars:25 | linebreaksbr }}</h3>
                    </a>
                    <p>{{ recent.created_at }}</p>
                    </div>
                </div> {% endfor %} </aside>
                <aside class="single_sidebar_widget tag_cloud_widget">
                <h4 class="widget_title" style="color: #2d2d2d;">タグ</h4>
                <ul class="list"> {% for tag in tags %}
                    <li> <a href="#">{{ tag }}</a> </li> {% endfor %} </ul>
                </aside>
                <aside class="single_sidebar_widget instagram_feeds">
                <h4 class="widget_title" style="color: #2d2d2d;">Twitter</h4>
                <ul class="instagram_row flex-wrap"> <a class="twitter-timeline" href="https://twitter.com/_landlim_?ref_src=twsrc%5Etfw">Tweets by _landlim_</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </ul>
                </aside>
            </div>
            </div>
        </div>
        </div>
    </section>
</main>
<style>
#SaveEmailForm{
    color: #2d2d2d!important;
}
.recent-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
</style>
{% endblock %}