.is-hidden {
  display: none;
}
.message_ul {
  padding: 0;
  margin: 0 !important;
}
.message_li {
  color: #2A2E43;
  border-left: solid 6px #2A2E43;
  border-bottom: solid 2px #dadada;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
  font-weight: bold;
}