{% load i18n %}
{% load static %}
<!-- さあ。<br>あなたのローカルに目を向けよう。-->
<!-- 色を保存する方法について -->
<!-- 感情のデータ付与 -->
<!-- イイネボタン部分 -->
<!-- タイムラインと画像を表示するための地図 -->
<!-- 近くの〇〇みたいな感じの処理を考えとくか -->
<!-- 感情 -->
<!-- 投稿に色を持たせる -->
<!-- お知らせシステムの追加 -->
<!-- タイムラインのタイトルリンクを色を変える -->
<!-- タグは複数付けたい -->
<!-- いいねしてきた人のリストを表示させる -->
<!-- 仮投稿などのシステム面の表示について -->
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<meta name="google-site-verification" content="nqrkORHu7zjwGNk58vqBIpuL44lC-UQlPwp7TfD6H1A" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<title>ランドリム｜LandLim Web版</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{% block description %}{% endblock %}" />
<meta name="keywords" content="{% block keyword %}{% endblock %}" />
<meta name="format-detection" content="email=no,telephone=no,address=no">
<meta name="msapplication-TileImage" content="{% static 'images/joshua-aragon-EaB4Ml7C7fE-unsplash.jpg' %}" />
<meta name="msapplication-TileColor" content="#EEEEEE" />
<meta property="og:url" content="" />
<meta property="og:title" content="{% block og_title %}ランドリム｜LandLim Web版{% endblock %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% block top_image %}{% static 'images/joshua-aragon-EaB4Ml7C7fE-unsplash.jpg' %}{% endblock %}" />
<meta property="og:site_name" content="ランドリム｜LandLim Web版"/>
<meta property="og:description" content="{% block og_description %}{% endblock %}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta property="og:url" content="" />
<meta property="og:title" content="{% block twitter_title %}ランドリム｜LandLim Web版{% endblock %}" />
<meta property="og:description" content="{% block twitter_description %}{% endblock %}" />
<link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" type="image/vnd.microsoft.icon">
<meta name="application-name" content="ランドリム｜LandLim Web版"/>
<meta name="msapplication-square70x70logo" content="small.jpg"/>
<meta name="msapplication-square150x150logo" content="medium.jpg"/>
<meta name="msapplication-wide310x150logo" content="wide.jpg"/>
<meta name="msapplication-square310x310logo" content="large.jpg"/>
<meta name="msapplication-TileColor" content="#FAA500"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel="stylesheet" href="https://designsupply-web.com/assets/vender/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
<link rel="stylesheet" href="{% static 'css/landlim_highlight.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--<link rel="stylesheet" href="{% static 'css/landlim_popup.css' %}">-->
<link rel="stylesheet" href="{% static 'css/landlim_icon_pulse.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_style.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_animation.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_form.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_map_size.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_load.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_upload.css' %}">
<link rel='stylesheet' href="{% static 'css/landlim_message.css' %}">
<link rel="stylesheet" href="{% static 'css/leaflet.marker.highlight.css' %}" />
<link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
<link rel="stylesheet" href="{% static 'css/message-box.css' %}">

<link rel="stylesheet" href="{% static 'css/comment_model.css' %}">
<link rel="stylesheet" href="{% static 'css/base_style.css' %}">

<script src="{% static 'js/message-box.js' %}"></script>
<script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>
<script src="{% static 'js/leaflet.marker.highlight.js' %}"></script>
<script src="{% static 'js/leaflet.sprite.js' %}"></script>
<script src="{% static 'js/landlim_highlight.js' %}"></script>
<script src="{% static 'js/landlim_message.js' %}"></script>
<script src="{% static 'js/landlim_sidebar.js' %}"></script>
<script src="{% static 'js/landlim_icon_pulse.js' %}"></script>
<script src="{% static 'js/image_form_utils.js' %}"></script>
<script src="{% static 'js/image_form_option.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/mouseover.js' %}"></script>
<script src="{% static 'js/Leaflet.LocationShare.js' %}"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css" />
<script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>
{% block extend_css %}
{% endblock %}
</head>
<body translate="no">
<div class="page-wrapper chiller-theme">
  {% include 'landlim_sidebar.html' %}
  <div class='container'>
    <div class='column--l'>
      <div style="padding: 0%;" class="content">
        <div style="height: 168px;" class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
              <div class="media-body mb-5 text-white">
                  <h4 class="mt-0 mb-0">{% trans "Notices" %}</h4>
                  <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{% trans "お知らせの掲載" %}</p>
              </div>
          </div>
        </div>
      </div>
      {% block message %}
      {% endblock %}
    </div>
    <div class='column--c'>
      <div class="column--in-c">
        <div class="content column--in--">
          <a style="background-color: #2A2E43; border-color: #2A2E43;" id="show-sidebar" class="btn btn-sm btn-dark position-sidebar mt-2" href="#">
            <i class="fas fa-bars"></i>
          </a>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class='column--r'>
      <div style="padding: 0%;" class="content">
        <div style="height: 168px;" class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
              <div class="media-body mb-5 text-white">
                  <h4 class="mt-0 mb-0">{% trans "Information" %}</h4>
                  <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{% trans "I'm sure you're surrounded by wonderful things." %}</p>
              </div>
          </div>
        </div>
      </div>
      <div id="scroll-group" class='column--r--scroll'>
        {% block information %}
        {% endblock %}
      <div>
    </div>
  </div>
</div>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-8216c69d01441f36c0ea791ae2d4469f0f8ff5326f00ae2d00e4bb7d20e24edb.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
<script id="rendered-js" >
$(".sidebar-dropdown > a").click(function () {
  $(".sidebar-submenu").slideUp(200);
  if (
  $(this).
  parent().
  hasClass("active"))
  {
    $(".sidebar-dropdown").removeClass("active");
    $(this).
    parent().
    removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this).
    next(".sidebar-submenu").
    slideDown(200);
    $(this).
    parent().
    addClass("active");
  }
});
$("#show-sidebar").click(function () {
$(".page-wrapper").addClass("toggled");
});
function switchByWidth(){
$("#close-sidebar").click(function () {
$(".page-wrapper").removeClass("toggled");});
}
$(function(){
});
$(window).on('load', function(){
  switchByWidth();
  endLoading();
});
setTimeout('endLoading()', 2000);
function endLoading(){
  $('.js-loading img').fadeOut(800, function(){
    $('.js-loading').fadeOut(800);
  });
}
window.onresize = switchByWidth;
</script>
<style>
.p {
  font-size: 15.5px;
}
@keyframes heartAnimation {
0% {
transform: scale(0.5);
}
10% {
transform: scale(0.7);
}
30% {
transform: scale(0.9);
}
50% {
transform: scale(1.2);
}
80% {
transform: scale(1.5);
}
100% {
transform: scale(1.0);
}
}
.LikesIcon-fa-heart{
  font-size: 20.5px;
}
.LikesIcon-fa-heart.heart{
  animation: heartAnimation .2s;
  color: #f54470;
}
.white {
  color: #FFB400 !important;
  text-decoration: none;
}
.white:hover{
  color: #FFB400 !important;
  text-decoration: none;
}
.white-title {
  color: #ffffff !important;
}
.IndexCardVideo{
  height: auto;
  width: 192.95px;
  margin: 0 auto;
  margin-top: 5.5px;
  margin-bottom: 20.5px;
  padding: 0;
}
.circle {
  width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	object-position: 0px 0px;
  margin: 1.5px;
  padding: 1.5px;
}
.from-country {
  position: relative;
  top: 46.5px;
  font-size: 12.5px !important;
}
.post-user-name {
  position: relative;
  top: 9.5px;
}
#overlay{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.5);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #006400 solid;
  border-top: 4px #009600 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}
.content{
  margin: 0 auto;
  max-width: 1050px;
}
</style>
<script src="{% static 'js/message.js' %}"></script>
</body>
</html>