{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_form from bootstrap4 %}
{% block content %}
{% if messages %}
<div class="position-message">
<ul class="message_ul notification message-box">
  {% for message in messages %}
  <li class="message_li notification-li">
    {{ message }}
    <i class="fas fa-trash delete"></i>
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
<div class="row login__forgot-password">
  <div class="col-md-8 m-auto text-center">
    {% block form %}
    {% endblock form %}
  </div>
</div>
{% block extend_js %}
<script src="{% static 'js/message.js' %}"></script>
{% endblock %}
{% endblock %}