{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}
{% load static %}
{% block head_title %}{% trans "Change Password" context "Password reset from key page title" %}{% endblock %}
{% block content %}
{% if token_fail %}
{% if messages %}
<div class="position-message">
<ul class="message_ul notification message-box">
  {% for message in messages %}
  <li class="message_li notification-li">
    {{ message }}
    <i class="fas fa-trash delete"></i>
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
<div class="bg-white shadow rounded overflow-hidden contain-card-body">
  <div class="px-4 pt-0 pb-4 cover_">
      <div class="media align-items-end profile-head">
          <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0">{% trans "Password Reset" %}</h4>
              <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>LandLim</p>
          </div>
      </div>
  </div>
  <div class="bg-light p-4 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block margin-h5" id="like_count">Okey! No Problem</h5>
            <small class="text-muted">
              <i class="fas fa-hands-helping sideicon"></i>
            </small>
          </li>
      </ul>
  </div>
  <div class="px-4 py-3">
    <h5 class="mb-0">{% trans "I'm sorry..." %}</h5>
    <div class="p-4 rounded shadow-sm bg-light">
      <p class="mb-0">{% trans "It appears that the token sent to you has expired" %}</p>
      <p class="mb-0">{% trans "Please enter your email address again on the previous page to publish the URL" %}</p>
      <p class="mb-0">{% trans "Or maybe a newer URL has already been published and is out of date" %}</p>
      <p class="mb-0">-><a href="{% url 'accounts:reset-password' %}">
        {% trans "PASSWORD RESET FORM" %}
      </a></p>
    </div>
  </div>
</div>
{% else %}
<div class="bg-white shadow rounded overflow-hidden contain-card-body">
  <div class="px-4 pt-0 pb-4 cover_">
      <div class="media align-items-end profile-head">
          <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0">{% trans "Password Reset" %}</h4>
              <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>LandLim</p>
          </div>
      </div>
  </div>
  <div class="bg-light p-4 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block margin-h5" id="like_count">No Problem</h5>
            <small class="text-muted">
              <i class="fas fa-hands-helping sideicon"></i>
            </small>
          </li>
      </ul>
  </div>
  <div class="px-4 py-3">
    <h5 class="mb-0">Password Reset Form</h5>
    {% if form %}
    <form method="POST" id="contact" class="form-horizontal" role="form" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-12">
          <fieldset>
            {% bootstrap_form form %}
          </fieldset>
        </div>
      </div>
      <button type="submit" id="send" name="send" class="btn btn-block SEND">{% trans "SEND" %}</button>
    </form>
    {% else %}
    <div class="p-4 rounded shadow-sm bg-light">
      <p class="mb-0">{% trans "Linkの有効期限が切れてしまっています" %}</p>
      <p class="mb-0">{% trans "下記Linkから再度URLの発行をお願いします" %}</p>
      <p class="mb-0">-><a href="{% url 'accounts:reset-password' %}">
        {% trans "PASSWORD RESET FORM" %}
      </a></p>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<style>
.profile-head {
  transform: translateY(5rem)
}
 .cover_ {
  background: linear-gradient(-15.5deg, #BE8200 20%, #FFB400 20% 40%, #009600 40% 60%, #006400 60% 80%);
  background-size: cover;
  background-repeat: no-repeat
}
.column {
  display: inline;
  flex-direction: column;
}
.green {
  color: #006400;
}
.red {
  color: #FF3333;
}
.image_tm {
  object-fit: cover;
  width: 327.5px;
  height: 327.5px;
  margin: 3.5px;
}
.material-icons {
  font-size: 13.5px;
}
label {
  display: none;
}
.sideicon {
  font-size: 20.5px;
  color: #006400;
}
.list-inline-item {
  text-align: right !important;
}
.margin-h5 {
  margin-bottom: 5.5px !important;
}
a {
  color: #009600;
}
a:hover {
  color: #009600;
  text-decoration: none;
}
</style>
{% block extend_js %}
<script src="{% static 'js/message.js' %}"></script>
{% endblock %}
{% endblock %}