{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_form from bootstrap4 %}
{% block content %}
{% if messages %}
<div class="position-message">
<ul class="message_ul notification message-box">
  {% for message in messages %}
  <li class="message_li notification-li">
    {{ message }}
    <i class="fas fa-trash delete"></i>
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
<div class="row accounts-edit">
  <div class="col-sm-4 m-auto">
    <div class="panel panel-default">
      <div class="panel-body">
        <form method="post" novalidate>
          {% csrf_token %}
          <fieldset>
            <legend class="text-xs-center accounts-edit__tittle">
            {% trans "Change Password" context "Password change form legend" %}
            </legend>
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}" />
          </fieldset>
          <button class="btn primary">
            {% trans "Save new password" context "Password change form primary action" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% block extend_js %}
<script src="{% static 'js/message.js' %}"></script>
{% endblock %}
{% endblock %}